.form__login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.form__login--input {
    font-family: "Maven Pro";
    font-size: 12px;
    margin: 10px;
    width: 250px;
    text-align: center;
    border-radius: 7px;
    border-style: none;
}

label {
    color:aquamarine;
}

button {
    display: flex;
    flex-direction: column;
}

.form__button--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__login--image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

img {
    display: flex;
    height: 60px;
    margin: auto;
}

img:hover {
    animation: zoomInOut 0.5s infinite alternate;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
