* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

.card__container {
    display: flex;
    justify-content: space-evenly;
}

.card.text-center{
    display: flex;
    flex-direction: column;
    background-color:unset;
    padding: 5px;
    width: 800px;
    height: 100px;
    margin-bottom: 10px;
}

.card-title {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    font-family: 'Maven Pro';
    color: white;
    font-size: 12px;
}

p {
    margin: 3px;
    font-weight: bold;
    font-family: 'Maven Pro';
    letter-spacing: 1px;
}


img {
    width: 60px;
}

.header__nav--buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: row-reverse;
}

.btn.btn-secondary btn-sm{
    display: flex;
    margin: auto;

}