.music__container {
    display: flex;
    flex-wrap: wrap;
    width: calc(40% - 20px);
    text-align: center;
}

.music__card-container {
    display: flex;
    margin: 30px;
    flex-direction: column;
}


.music__card-trackname {
    font-family: 'Maven Pro';
    color: white;
    text-align: center;
    font-size: 20px ;
}

.music__card-favorite {
    margin: 6px 3px 3px 3px;
}